extends layout

block content
  div.wrapper
    div.storyboard-listing
      div.input-wrapper
        input(type="text").form-control#new-storyboard
        button().btn.btn-primary#create-storyboard
          | +
      div.wrap
        div.scrollbar
          div.handle
          div.mousearea
        div.frame.smart#smart
          ul.items
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700X400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prjli.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
            li.prj ULTIMUUL
              div.prj-wrap-title
                a(href="#").glyphicon.glyphicon-play-circle.prj-play
                p.prj-title 
                  a(href='#') Primul Nostru proiect
              div.prj-wrap-date 08-12-2014 
              div.prj-capture
                img(src="http://placehold.it/700x400")
    div.storyboard-filters
      div.user-alerts
        div.scrollbar2
          div.handle2
          div.mousearea2
        div.frame2#nonitembased
          div.slidee
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost adoptatdsfvsdfsf
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost adoptatdsfvsdfsf
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost adoptatdsfvsdfsf
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost adoptatdsfvsdfsf
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost adoptatdsfvsdfsf
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost invitat
            div.alert.alert-info Ai fost alohaa
      hr
      div.prj-filters
        div.prj-by-name
          input(type="text", placeholder="type a project name").form-control#stb-filter-name
        div.prj-by-date
          input(type="date").form-control#stb-filter-date