extends layout

block content
  div.wrapper
    div.wrap
      div.frame.effects.slide-zone#effects
        ul.clearfix
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
          li.prj-prev
      div.scrollbar
        div.handle
        div.mousearea
    div.controls.center
      div.btn-group.max-move
        button.btn.toStart
          i.glyphicon.glyphicon-step-backward
        button.btn.prev.toLeft
          i.glyphicon.glyphicon-chevron-left
        button.btn.next.toRight
          i.glyphicon.glyphicon-chevron-right 
        button.btn.toEnd
          i.glyphicon.glyphicon-step-forward