doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    if (data.pageStyles)
      each style in data.pageStyles
        link(rel='stylesheet', href='/stylesheets/' + style + '.css')
  body
    div.wrapper
      div.wrap
        div.frame.effects.slide-zone#effects
          ul.list
            each project_image in data.project.pages
              li.prj-prev
                img(src=project_image, alt="")
        div.scrollbar
          div.handle
          div.mousearea
        div.controls
          div.btn-group.move-slides
            button.btn.toStart
              i.glyphicon.glyphicon-step-backward
            button.btn.prev.toLeft
              i.glyphicon.glyphicon-chevron-left
            button.btn.next.toRight
              i.glyphicon.glyphicon-chevron-right 
            button.btn.toEnd
              i.glyphicon.glyphicon-step-forward
          button.btn.toFullScreen
            i.glyphicon.glyphicon-fullscreen

  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/sly.min.js")

  if (data.pageScripts)
    each script in data.pageScripts
      script(src="/javascripts/"+script+".js")

