doctype html
//- TODO: Don't forget to set lang !!
//if lt IE 7
  |<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  |<html class="no-js lt-ie9 lt-ie8">
//if IE 8
  |<html class="no-js lt-ie9">
//if gt IE 8
  |<!--><html class="no-js"><!--
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title=title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", type="text/css", href="stylesheets/workspace.min.css")
body
  div.container
    header
      div.menu-toggle
        div.toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.users
        div.add-new-user.glyphicon.glyphicon-user
        div.user-bubble.active
        div.user-bubble
        div.user-bubble.active
    nav.canvas-tools
      div.colors
        span(data-color="#bada55")
        span(data-color="#ffffff")
        span(data-color="#000000")
        span(data-color="#ff1122")
        span(data-color="#bada55")
        span(data-color="#ffffff")
        span(data-color="#bada55")
        span(data-color="#ffffff")
        span(data-color="#000000")
        span(data-color="#ff1122")
        span(data-color="#bada55")
        span(data-color="#ffffff")
        span(data-color="#000000")
        span(data-color="#ff1122")
        span(data-color="#bada55")
        span(data-color="#ffffff")
        span(data-color="#000000")
        span(data-color="#ff1122")
      hr
      div.tools
        span(data-tool="drawRect").rectangle R
        span(data-tool="drawLine").line L
        span(data-tool="freeDraw").free-draw F
        span(data-tool="drawCircle").circle C
        span(data-tool="drawTriangle").triangle T
        span(data-tool="drawTriangle").text TX
      hr
      div.actions
        span(data-action="fill").fill F
        span(data-action="border").border B
        span(data-action="remove").remove D
        //- span(data-action="bring-front").bring-front +
        //- span(data-action="push-back").push-back -
      hr
      div.stock-items

      button.save-project Save 
    div.workspace-area
      div.canvas-wrapper
        canvas(width="800px", height="500px")#canvas
      footer
        button.new-slide.glyphicon.glyphicon-plus
        div.slides
          ul
            li.slide
              //- span.glyphicon.glyphicon-trash.remove-slide

  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/fabric.min.js")
  script(src="/javascripts/sly.min.js")
  script(src="/javascripts/workspace.js")

