@import "bootstrap/bootstrap.less";
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.auth-menu{
  width: 400px;
  .half{
    float: left;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  input{
    margin-bottom: 3px;
  }
}

.container-stranger{
  h1{
    text-align: center;
  }
}