@include './bootstrap/normalize.less';
body{
  width: 100%;
  margin: 0;
}
.canvas-wrapper{
  width: 700px;
  height: 400px;
  margin: 50px auto;
  background: rgba(1,1,1,0.2);
  position: relative;
}
